.link {
  color: white;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.047rem;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.link--active {
  font-weight: 700;
}

.link__city {
  text-transform: uppercase;
}

.button--white {
  color: $color-primary;
  font-size: 0.875rem;
  line-height: 119.62%;
}

.button--mint {
  color: white;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 124.41%;
  text-transform: uppercase;
}

.header__description {
  color: white;
}

.heading__city-date {
  font-size: 1rem;
  line-height: 124.41%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.h1 {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 124.41%;
}

.heading__workshops {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 124.41%;
}

.header-badge {
  color: $color-primary;
}

.header-badge__text--subject {
  font-size: 0.875rem;
  line-height: 153.12%;
}

.header-badge__text--mark {
  font-weight: 700;
  font-size: 2.125rem;
  line-height: 153.12%;
}

.header-badge__text--person {
  font-size: 0.875rem;
  line-height: 143.55%;
}

.header-badge__text--company {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 143.55%;
}

.header-badge__text--review {
  font-size: 0.625rem;
  line-height: 200%;
}

.link__badge {
  color: $color-primary;
}

.content__heading--white {
  color: white;
}

.content__heading--black {
  color: black;
}

.content__heading {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 124.41%;
}

.statistics__title {
  color: $color-primary;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 143.55%;
}

.statistics__text {
  color: $color-card-text;
  font-size: 0.875rem;
  line-height: 143.55%;
}

.targets__title {
  color: $color-primary;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 143.55%;
  letter-spacing: 0.05em;
}

.targets__text {
  color: $color-card-text;
  font-size: 0.875rem;
  line-height: 143.55%;
}

.schedule__title {
  color: $color-primary;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 143.55%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.schedule__text {
  color: $color-card-text;
  font-size: 0.875rem;
  line-height: 143.55%;
}

.card__schedule--solid {
  .schedule__text {
    font-weight: 600;
  }
}

.link__full-program {
  color: $color-primary;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 143.55%;
  text-transform: uppercase;
  text-decoration: underline dashed $color-primary;
}

.result__title {
  color: $color-primary;
  font-weight: 600;
  font-size: 1rem;
  line-height: 143.55%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.result__text {
  color: $color-card-text;
  font-size: 1rem;
  line-height: 143.55%;
}

.card__mentor--solid {
  .mentor__title {
    color: $color-primary;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 183.83%;
  }

  .mentor__text {
    color: $color-card-text;
    font-size: 1rem;
    line-height: 182.86%;
  }
}

.card__mentor--transparent {
  .mentor__title {
    color: $color-primary;
    font-weight: 600;
    font-size: 1rem;
    line-height: 143.55%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  .mentor__text {
    color: $color-card-text;
    font-size: 1rem;
    line-height: 143.55%;
  }
}

.reviews__title {
  color: $color-card-text;
  font-weight: 600;
  font-size: 1rem;
  line-height: 182.85%;
  letter-spacing: 0.05em;
}

.reviews__text {
  color: $color-card-text;
  font-size: 1rem;
  line-height: 180%;
}

.reviews-badge__text--subject {
  color: $color-primary;
  font-size: 0.75rem;
  line-height: 143.55%;
  text-align: center;
}

.reviews-badge__text--review {
  font-size: 0.625rem;
  line-height: 200%;
}

.price__title {
  color: $color-primary;
  font-weight: 700;
  font-size: 1.563rem;
  line-height: 2.5rem;
}

.price__text {
  color: $color-primary;
  font-weight: 600;
  font-size: 1rem;
  line-height: 158.47%;
}

.badge__sale {
  color: white;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 124.41%;
  text-transform: uppercase;
}

.included__title {
  color: $color-primary;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 143.55%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.included__text {
  color: $color-card-text;
  font-size: 0.875rem;
  line-height: 143.55%;
}
