.link {
  color: white;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.047rem;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.link--active {
  font-weight: 700;
}

.link__city,
.button--mint,
.heading__city-date {
  text-transform: uppercase;
}

.button--white {
  color: $color-primary;
}

.button--mint {
  color: white;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 124.41%;
}

.header__description {
  color: white;
}

.heading__city-date {
  font-weight: 400;
  font-size: 1rem;
  line-height: 124.41%;
  letter-spacing: 0.05em;
}

.h1 {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 124.41%;
}

.heading__workshops {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 124.41%;
}

.header-ellipse {
  color: $color-primary;
}

.header-ellipse__text--subject,
.header-ellipse__text--person,
.header-ellipse__text--review {
  font-weight: 400;
}

.header-ellipse__text--mark,
.header-ellipse__text--company {
  font-weight: 700;
}

.header-ellipse__text--subject {
  font-size: 0.875rem;
  line-height: 153.12%;
}

.header-ellipse__text--mark {
  font-size: 2.125rem;
  line-height: 153.12%;
}

.header-ellipse__text--person {
  font-size: 0.875rem;
  line-height: 143.55%;
}

.header-ellipse__text--company {
  font-size: 0.875rem;
  line-height: 143.55%;
}

.header-ellipse__text--review {
  font-size: 0.625rem;
  line-height: 200%;
}

.link-review {
  color: $color-primary;
}

.content__heading {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 124.41%;
  white-space: pre-wrap;
}

.card__statistics--heading {
  color: $color-primary;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 143.55%;
}

.card__statistics--text {
  color: $color-card-text;
  font-size: 0.875rem;
  line-height: 143.55%;
}
