@import "https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic";

.link {
  color: white;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.047rem;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.link--active {
  font-weight: 700;
}

.link__city {
  text-transform: uppercase;
}

.button--white {
  color: $color-primary;
  font-size: 0.875rem;
  line-height: 119.62%;
}

.button--mint {
  color: white;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 124.41%;
  text-transform: uppercase;
}

.header__description {
  color: white;
}

.heading__city-date {
  font-size: 1rem;
  line-height: 124.41%;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  @include for-size(map.get($screens, lg)) {
    font-weight: 500;
    font-size: 0.875rem;
  }

  @include for-size(map.get($screens, md-2)) {
    font-size: 0.75rem;
  }
}

h1 {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 124.41%;

  @include for-size(map.get($screens, lg)) {
    font-size: 2.25rem;
  }

  @include for-size(map.get($screens, md-2)) {
    font-size: 1.5rem;
  }
}

.heading__workshops {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 124.41%;

  @include for-size(map.get($screens, lg)) {
    font-weight: 500;
    line-height: 143.55%;
  }

  @include for-size(map.get($screens, md-2)) {
    font-weight: 400;
    font-size: 0.875rem;
  }
}

.header-badge {
  color: $color-primary;
}

.header-badge__text--subject {
  font-size: 0.875rem;
  line-height: 153.12%;
}

.header-badge__text--mark {
  font-weight: 700;
  font-size: 2.125rem;
  line-height: 153.12%;
}

.header-badge__text--person {
  font-size: 0.875rem;
  line-height: 143.55%;
}

.header-badge__text--company {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 143.55%;
}

.header-badge__text--review {
  font-size: 0.625rem;
  line-height: 200%;
}

.link__badge {
  color: $color-primary;
}

.statistics__heading--xl {
  color: black;
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 124.41%;
}

.statistics__heading--sm {
  line-height: 124.41%;
}

.statistics__title {
  color: $color-primary;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 143.55%;
}

.statistics__text {
  color: $color-card-text;
  font-size: 0.875rem;
  line-height: 143.55%;
}

.targets__heading {
  color: black;
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 124.41%;

  @include for-size(map.get($screens, md-2)) {
    font-size: 1.5rem;
  }
}

.targets__title {
  color: $color-primary;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 143.55%;
  letter-spacing: 0.05em;
}

.targets__text {
  color: $color-card-text;
  font-size: 0.875rem;
  line-height: 143.55%;
}

.schedule__heading {
  color: black;
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 124.41%;

  @include for-size(map.get($screens, md-2)) {
    font-size: 1.5rem;
  }
}

.schedule__title {
  color: $color-primary;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 143.55%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.schedule__text {
  color: $color-card-text;
  font-size: 0.875rem;
  line-height: 143.55%;
}

.card__schedule--solid {
  .schedule__text {
    font-weight: 600;
  }
}

.link__full-program {
  color: $color-primary;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 143.55%;
  text-transform: uppercase;
  text-decoration: underline dashed $color-primary;
  text-underline-offset: 8px;

  @include for-size(map.get($screens, lg)) {
    font-size: 0.875rem;
    line-height: 203.05%;
    letter-spacing: 0.05em;
  }
}

.result__heading {
  color: white;
  font-weight: 700;
  font-size: 2.188rem;
  line-height: 124.41%;

  @include for-size(map.get($screens, lg)) {
    font-size: 1.875rem;
  }

  @include for-size(map.get($screens, md-2)) {
    font-size: 1.5rem;
  }
}

.result__title {
  color: $color-primary;
  font-weight: 600;
  font-size: 1rem;
  line-height: 143.55%;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  @include for-size(map.get($screens, lg)) {
    font-size: 0.875rem;
  }
}

.result__text {
  color: $color-card-text;
  font-size: 1rem;
  line-height: 143.55%;

  @include for-size(map.get($screens, lg)) {
    font-size: 0.875rem;
  }

  @include for-size(map.get($screens, md-2)) {
    line-height: 182.05%;
  }
}

.mentor__heading {
  color: black;
  font-weight: 700;
  font-size: 2.188rem;
  line-height: 3.438rem;
}

.card__mentor--solid {
  .mentor__title {
    color: $color-primary;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 183.83%;
  }

  .mentor__text {
    color: $color-card-text;
    font-size: 1rem;
    line-height: 182.86%;
  }
}

.card__mentor--transparent {
  .mentor__title {
    color: $color-primary;
    font-weight: 600;
    font-size: 1rem;
    line-height: 143.55%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  .mentor__text {
    color: $color-card-text;
    font-size: 1rem;
    line-height: 143.55%;
  }
}

.reviews__heading {
  color: black;
  font-size: 2.188rem;
  line-height: 3.313rem;
}

.reviews__title {
  color: $color-card-text;
  font-weight: 600;
  font-size: 1rem;
  line-height: 182.85%;
  letter-spacing: 0.05em;
}

.reviews__text {
  color: $color-card-text;
  font-size: 1rem;
  line-height: 180%;
}

.reviews-badge__text--subject {
  color: $color-primary;
  font-size: 0.75rem;
  line-height: 143.55%;
  text-align: center;
}

.reviews-badge__text--review {
  font-size: 0.625rem;
  line-height: 200%;
}

.gallery__heading {
  color: black;
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 124.41%;
}

.price__heading {
  color: black;
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 124.41%;
}

.price__title {
  color: $color-primary;
  font-weight: 700;
  font-size: 1.563rem;
  line-height: 2.5rem;
}

.price__text {
  color: $color-primary;
  font-weight: 600;
  font-size: 1rem;
  line-height: 158.47%;
}

.badge__sale {
  color: white;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 124.41%;
  text-transform: uppercase;
}

.included__heading {
  color: white;
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 124.41%;
}

.included__title {
  color: $color-primary;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 143.55%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.included__text {
  color: $color-card-text;
  font-size: 0.875rem;
  line-height: 143.55%;
}

.copyright {
  color: white;
  font-size: 0.875rem;
  line-height: 119.62%;
  opacity: 0.7;
}

.nowrap {
  white-space: nowrap;
}
