@use "sass:map";
@import "./abstracts/variables";
@import "./abstracts/mixins";
@import "./base/normalize";
@import "./base/typography";
@import "./components/buttons";
@import "./components/badges";
@import "./components/cards";
@import "./components/content";
@import "./components/arrows";
@import "./components/inputs";
@import "./components/icons";
@import "./layout/header";
@import "./layout/navigation";
@import "./layout/statistics";
@import "./layout/targets";
@import "./layout/schedule";
@import "./layout/result";
@import "./layout/mentor";
@import "./layout/reviews";
@import "./layout/gallery";
@import "./layout/price";
@import "./layout/included";
@import "./layout/footer";

html {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  max-width: map.get($screens, xl);
  margin: 0 auto;
}
