@use "sass:map";
@import "https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic";
@import "./abstracts/variables";
@import "./abstracts/mixins";
@import "./base/normalize";
@import "./base/typography";
@import "./layout/header";
@import "./layout/navigation";
@import "./components/buttons";
@import "./components/ellipses";

html {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  background-color: $color-general-bg;
}

#root {
  display: flex;
  flex-direction: column;
  max-width: map.get($screens, xl);
  margin: 0 auto;
}
