@mixin badge-gradient() {
  background: radial-gradient(68.31% 68.31% at 50% 50%, #f9fbff 0%, #cadef9 100%);
  box-shadow: 0 10px 50px rgb(119 157 255 / 30%);
}

@mixin center-inside-elem-flex() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin center-elem-absolute() {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
