// Colors
$color-general-bg: #e5e5e5;
$color-primary: #2f80ed;
$color-mint: #64e2cd;
$color-card-text: #636363;

// Pathes
$bg-header-xl: "../assets/header/bg-1440.png";
$bg-header-md: "../assets/header/bg-768.png";
$bg-header-sm: "../assets/header/bg-320.png";

// Screen breakpoints
$screens: (
  xl: 1440px,
  lg: 976px,
  md: 768px,
  sm: 320px,
);
