// Colors
$color-general-bg: #e5e5e5;
$color-primary: #2f80ed;
$color-primary-dark: #185fbf;
$color-mint: #64e2cd;
$color-card-text: #636363;
$color-input-text: #c6c6c6;
$color-card-shadow: #2f37ed;

// Pathes
$bg-header-xl: "../assets/header/bg-xl.png";
$bg-header-md: "../assets/header/bg-md.png";
$bg-header-sm: "../assets/header/bg-sm.png";
$bg-reviews-xl: "../assets/reviews/bg-xl.png";
$bg-included-bottom-xl: "../assets/included/bg-bottom-xl.png";
$bg-included-upper-xl: "../assets/included/bg-upper-xl.png";

// Screen breakpoints
$screens: (
  xl: 1440px,
  lg: 976px,
  md: 768px,
  md-2: 700px,
  sm: 320px,
);
