.badge {
  position: absolute;
  width: 231px;
  min-height: 231px;
  border-radius: 50%;

  @include badge-gradient;
  @include center-inside-elem-flex;
}

.badge__sale {
  position: absolute;
  width: 90px;
  height: 90px;
  background-color: $color-primary;
  border-radius: 300px;

  @include center-inside-elem-flex;

  @include for-size(map.get($screens, md-2)) {
    width: 61.7px;
    height: 61.7px;
  }
}
