.card {
  border-radius: 10px;
}

.card__statistics {
  width: 313px;
  height: 221px;
  box-shadow: 0 20px 40px rgba($color-primary, 0.1);

  .card__statistics--heading {
    margin: 0;
    margin-top: 34px;
    padding: 0 50px;
  }

  .card__statistics--text {
    margin-top: 13.5px;
  }

  &:nth-child(odd) {
    .card__statistics--text {
      padding: 0 50px;
    }
  }

  &:nth-child(even) {
    .card__statistics--text {
      padding: 0 30px 0 50px;
    }
  }
}
