.card {
  border-radius: 10px;
}

.card__statistics {
  width: 313px;
  height: 221px;
  box-shadow: 0 20px 40px rgba($color-card-shadow, 0.1);

  .statistics__title {
    margin-top: 34px;
    padding: 0 50px;
  }

  .statistics__text {
    margin-top: 13.5px;
  }

  &:nth-child(odd) {
    .statistics__text {
      padding: 0 50px;
    }
  }

  &:nth-child(even) {
    .statistics__text {
      padding: 0 30px 0 50px;
    }
  }
}

.card__targets {
  width: 225px;

  .targets__text {
    margin-top: 9px;
  }
}

.card__schedule--transparent {
  width: 230px;

  .schedule__text {
    margin-top: 10px;
  }
}

.card__schedule--solid {
  width: 330px;
  height: 212px;
  padding: 60px 40px 40px 60px;
  box-shadow: 0 30px 100px rgba($color-card-shadow, 0.1);

  .schedule__text {
    margin-top: 10px;
  }
}

.card__result {
  display: flex;
  gap: 35px;
  width: 566px;
  height: 278px;
  padding: 55px;
  background-color: white;
  box-shadow: 0 10px 30px rgba($color-card-shadow, 0.1);

  .result__icon {
    width: 60px;
    height: 60px;
  }

  .result__text {
    margin-top: 10px;
  }
}

.card__mentor--media {
  position: relative;

  .mentor__video {
    border-radius: 10px;
  }
}

.card__mentor--solid {
  width: 351px;
  height: 212px;
  padding: 66px 31px 32px 63px;
  box-shadow: 0 30px 100px rgba($color-card-shadow, 0.1);
}

.card__mentor--transparent {
  .mentor__title {
    margin-top: 25px;
  }

  .mentor__text {
    margin-top: 10px;
  }

  &:nth-child(1) {
    width: 228px;
  }

  &:nth-child(2) {
    width: 241.3px;
  }

  &:nth-child(3) {
    width: 187px;
  }

  &:nth-child(4) {
    width: 205px;
  }
}

.card__reviews {
  width: min-content;

  .reviews__review-container {
    position: relative;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba($color-card-shadow, 0.1);
  }

  &:nth-child(1) {
    .reviews__review-container {
      width: 554px;
      height: 212px;
      padding: 27px 41px 18px 51px;

      .reviews__text {
        margin-top: 10px;
      }
    }

    .reviews__avatar {
      margin-top: 18px;
    }
  }

  &:nth-child(2) {
    .reviews__review-container {
      width: 554px;
      height: 230px;
      padding: 27px 41px 0 51px;
    }

    .reviews__avatar {
      margin-top: 20px;
    }
  }

  &:nth-child(3) {
    .reviews__review-container {
      width: 560px;
      height: 390px;
      padding: 27px 55px 65px 50px;

      .reviews__text {
        margin-top: 10px;
      }
    }

    .reviews__avatar {
      margin-top: 30px;
    }
  }
}

.card__price {
  box-shadow: 0 20px 50px rgba($color-card-shadow, 0.12);

  &:nth-child(-n + 3) {
    width: 271px;
    height: 293px;

    .price__text {
      margin-top: 12px;
    }

    .button--mint {
      margin-top: 33px;
    }

    @include center-inside-elem-flex;
  }

  &:nth-child(3) {
    position: relative;

    .badge__sale {
      top: -45px;
      right: -25px;
    }
  }

  &:nth-child(4) {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;
    width: 570px;
    height: 160px;
    text-align: center;

    .price__text {
      margin-top: 12px;
    }
  }
}

.card__included {
  display: flex;
  background-color: white;
  box-shadow: 0 10px 30px rgba($color-card-shadow, 0.12);

  .result__text {
    margin-top: 10px;
  }

  &:nth-child(1) {
    gap: 39px;
    width: 312px;
    height: 109px;
    padding: 51px 57px 59px 41px;

    .included__icon {
      width: 71px;
      height: 109px;
    }

    .included__title {
      margin-top: 5px;
    }

    .included__text {
      margin-top: 7px;
    }
  }

  &:nth-child(2) {
    gap: 21px;
    width: 320.5px;
    height: 88px;
    padding: 56px 25.5px 75px 64px;

    .included__icon {
      width: 80px;
      height: 80px;
    }

    .included__text {
      margin-top: 7px;
    }
  }

  &:nth-child(3) {
    flex-direction: column;
    gap: 33px;
    width: 295px;
    height: 216px;
    padding: 56px 57px 54px 58px;

    .card__included--media {
      position: relative;
      width: 295px;
      height: 166px;
    }
  }

  &:nth-child(4) {
    flex-direction: column;
    width: 299px;
    height: 271px;
    padding: 55px 47px 0 64px;

    .included__icon {
      width: 72px;
      height: 72px;
    }

    .included__title {
      margin-top: 32px;
    }

    .included__text {
      margin-top: 13px;
    }
  }
}
