.input {
  box-sizing: border-box;
  width: 266px;
  height: 50px;
  padding-left: 37px;
  background: white;
  border: 1px solid rgb(47 128 237 / 30%);

  &::placeholder {
    color: $color-input-text;
  }

  @include for-size(map.get($screens, lg)) {
    width: 280px;
  }
}
