.footer {
  max-height: 447px;

  @include for-size(map.get($screens, lg)) {
    max-height: 546px;
  }

  @include for-size(map.get($screens, md-2)) {
    max-height: 915px;
  }
}

.footer__container {
  display: flex;
  flex-direction: column;
}

.footer__form {
  display: flex;
  flex-wrap: wrap;
  gap: 35.5px;
  justify-content: center;
  align-items: center;
  height: 242px;
  background-color: rgba($color-primary, 0.05);

  .button__submit {
    width: 259px;
    height: 50px;
    margin-left: 7.5px;
  }

  @include for-size(map.get($screens, xl)) {
    background-color: white;
  }

  @include for-size(map.get($screens, lg)) {
    gap: 20px;
    align-content: start;
    height: 262px;
    margin-top: 63px;
    row-gap: 32px;

    .button__submit {
      width: 280px;
      margin: 0;
    }
  }

  @include for-size(map.get($screens, md-2)) {
    gap: 20px;
    height: 370px;
    margin-top: 108px;

    .button__submit {
      margin-top: 18px;
    }
  }
}

.footer__bg-container--primary {
  background-color: $color-primary;

  .footer__navigation {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1180px;
    height: 128px;
    margin: 0 auto;
  }

  @include for-size(map.get($screens, lg)) {
    .footer__navigation {
      max-width: 768px;
      height: 142px;
      margin: 0;
      padding: 0 18px;
    }

    @include for-size(map.get($screens, md-2)) {
      .footer__navigation {
        flex-wrap: wrap;
        gap: 33px;
        justify-content: center;
        align-content: start;
        height: 248px;
      }
    }
  }
}

.footer__bg-container--primary-dark {
  background-color: $color-primary-dark;

  .footer__additional-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1180px;
    height: 77px;
    margin: 0 auto;

    .flex-container {
      display: flex;
      flex-wrap: wrap;
      gap: 50px;
    }
  }

  @include for-size(map.get($screens, lg)) {
    .footer__additional-info {
      max-width: 768px;
      padding: 0 18px;

      .flex-container {
        flex-direction: column;
        gap: 7px;
      }
    }
  }

  @include for-size(map.get($screens, md-2)) {
    .footer__additional-info {
      flex-direction: column;
      gap: 40px;
      justify-content: center;
      height: 186px;

      .copyright {
        order: 2;
      }

      .flex-container {
        text-align: center;
      }
    }
  }
}
