.gallery {
  min-height: 656px;
  margin-top: 118.5px;
}

.gallery__content {
  @include center-inside-elem-flex;
}

.gallery__heading {
  width: 539px;
}

.gallery__img-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 65px;
  row-gap: 23px;
}
