.header {
  height: 718px;
  background-color: rgba($color-primary, 0.1);

  @include for-size(map.get($screens, md)) {
    height: 638px;
  }
}

.header__container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 675px;
  background-image: url($bg-header-xl);
  background-repeat: no-repeat;

  @include for-size(map.get($screens, md)) {
    height: 603.5px;
    background-image: url($bg-header-md);
  }

  @include for-size(map.get($screens, sm)) {
    background-image: url($bg-header-sm);
  }
}

.header__navigation {
  justify-content: center;
  height: 42px;
  margin: 0 10px;
  margin-top: 32px;

  @include for-size(map.get($screens, lg)) {
    margin: 0 16px;
    margin-top: 27px;
  }

  @include for-size(map.get($screens, md-2)) {
    margin: 0 9px;
    margin-top: 18px;
  }
}

.header__description {
  display: flex;
  flex-direction: column;
  align-items: start;
  align-self: end;
  width: 552px;
  min-height: 337px;
  margin-top: 88px;
  margin-right: 155px;

  h1 {
    margin-top: 18px;
  }

  .heading__workshops {
    margin-top: 0;
  }

  .button__bg-wrapper {
    margin-top: 27px;
  }

  @include for-size(map.get($screens, lg)) {
    width: 451px;
    min-height: 337px;
    margin-top: 95px;
    margin-right: 23px;

    h1 {
      margin-top: 14px;
    }

    .heading__workshops {
      margin-top: 10px;
    }

    .button__bg-wrapper {
      margin-top: 33px;
    }
  }

  @include for-size(map.get($screens, md-2)) {
    display: flex;
    flex-direction: column;
    align-items: start;
    align-self: center;
    width: 304px;
    min-height: 298px;
    margin-top: 63px;
    margin-right: 0;

    h1 {
      margin-top: 20px;
    }

    .heading__workshops {
      margin-top: 25px;
    }

    .button__bg-wrapper {
      margin-top: 29px;
    }
  }
}

.header-badge {
  bottom: -12.5%;
  margin-left: calc(100vw / 8.62);

  @include for-size(map.get($screens, lg)) {
    bottom: -17%;
    margin-left: calc(100vw / 17);
  }

  @include for-size(map.get($screens, md-2)) {
    bottom: -16.5%;
    margin-left: calc(100vw / 7.5);
  }
}

.header-badge__review {
  margin-top: 10px;
}
