.header {
  height: 718px;
  background-color: rgba($color-primary, 0.1);
}

.header__container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 675px;
  background-image: url($bg-header-xl);
  background-repeat: no-repeat;
}

.header__navigation {
  justify-content: center;
  height: 42px;
  margin: 0 10px;
  margin-top: 32px;
}

.header__description {
  display: flex;
  flex-direction: column;
  align-items: start;
  align-self: end;
  width: 552px;
  min-height: 337px;
  margin-top: 88px;
  margin-right: 155px;

  h1 {
    margin-top: 18px;
  }

  .heading__workshops {
    margin-top: 21px;
  }

  .button__bg-wrapper {
    margin-top: 29px;
  }
}

.header-badge {
  bottom: -12.5%;
  margin-left: calc(100vw / 8.62);
}

.header-badge__review {
  margin-top: 10px;
}
