.included {
  min-height: 1228px;
  margin-top: 82px;
  background-image: url($bg-included-bottom-xl);
  background-repeat: no-repeat;

  @include center-inside-elem-flex;

  @include for-size(map.get($screens, xl)) {
    min-height: 975px;
    margin-top: 0;
    background-color: $color-primary;
    background-image: none;
  }

  @include for-size(map.get($screens, md-2)) {
    min-height: 1736px;
  }
}

.included__content {
  display: flex;
  flex-flow: column wrap;
  min-height: 1083px;
  padding-left: 285px;
  background-image: url($bg-included-upper-xl);
  background-repeat: no-repeat;

  @include for-size(map.get($screens, xl)) {
    height: 100%;
    min-height: 975px;
    padding-left: 0;
    background-image: none;
  }

  @include for-size(map.get($screens, md-2)) {
    min-height: 1736px;
  }
}

.included__heading {
  margin-top: 134px;

  @include for-size(map.get($screens, xl)) {
    margin-top: 60px;
    text-align: center;
  }

  @include for-size(map.get($screens, md-2)) {
    margin-top: 85px;
  }
}

.included__cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 66px;
  row-gap: 66px;

  @include for-size(map.get($screens, xl)) {
    justify-content: center;
  }

  @include for-size(map.get($screens, xl)) {
    gap: 14.5px;
    row-gap: 16px;
    margin-top: 60px;
  }

  @include for-size(map.get($screens, md-2)) {
    gap: 10px;
    margin-top: 67px;
  }
}
