.mentor {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 1078px;
}

.mentor__content {
  display: flex;
  flex-flow: column;
  width: 100%;
  max-width: 1194px;
}

.mentor__heading {
  width: 572px;
  height: 45px;
  margin-top: 58px;
}

.mentor__cards-wrapper {
  display: flex;
  flex-direction: column;
}

.mentor__cards-wrapper--solid {
  display: flex;
  gap: 92px;
  align-items: center;
  margin-top: 79px;
}

.mentor__cards-wrapper--transparent {
  display: flex;
  justify-content: space-between;
  margin-top: 77px;
}
