.price {
  min-height: 597px;

  @include for-size(map.get($screens, lg)) {
    min-height: 944px;
  }

  @include for-size(map.get($screens, md-2)) {
    min-height: 1503px;
  }
}

.price__content {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.price__heading {
  margin-top: 104px;

  @include for-size(map.get($screens, lg)) {
    margin-top: 67px;
  }

  @include for-size(map.get($screens, md-2)) {
    margin-top: 59px;
    text-align: center;
  }
}

.price__cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 42px;
  justify-content: center;
  margin-top: 60px;

  @include for-size(map.get($screens, lg)) {
    gap: 22px;
    row-gap: 30px;
  }

  @include for-size(map.get($screens, md-2)) {
    gap: 10px;
    margin-top: 40px;
  }
}
