.schedule {
  min-height: 669px;

  @include center-inside-elem-flex;
}

.schedule__content {
  display: flex;
  flex-flow: column;
  width: 100%;
  max-width: 970px;
  height: 475px;
}

.schedule__heading {
  width: 371px;
  margin-top: 23px;
}

.schedule__cards-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}

.schedule__cards-wrapper--transparent {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  row-gap: 62px;
  width: 600px;
}

.schedule__cards-wrapper--solid {
  margin-top: 35px;
}

.schedule__full-program {
  margin-top: auto;
}
