.statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 712.5px;
  background-color: white;
}

.statistics__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1175px;
  min-height: 526px;
  margin-top: 100px;
}

.statistics__heading {
  width: 430px;
  margin-top: 145px;
}

.statistics__cards-wrapper {
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  row-gap: 61px;
  width: 659px;
  height: 526px;
}
