.targets {
  min-height: 564.5px;
  background-color: rgba($color-primary, 0.05);
}

.targets__content {
  display: flex;
  flex-flow: column wrap;
  max-width: 1020px;
  margin-left: 240px;
}

.targets__heading {
  align-self: center;
  width: 820px;
  margin-top: 124.5px;
}

.targets__cards-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
